.manage-user-container{
    .users-content{
        
      .btn-add-new{
        gap: 5px;
        display: flex;
       margin: 15px 0px;
       padding: 3px 10px;
      }
    }
    .title{
        font-weight: 600;
        font-size: 45px;
    }
}
.Modal-add-user{
    .image-preview{
        border: solid 1px red;
        // height: 150px;
        border-style: dashed #ccc;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #ccc;
        img{
            max-width: 100%;
            max-width: 100%;
        }
    }
    .label-upload{
        display: flex;
        gap: 5px;
        align-items: center;
        width: fit-content;
        padding: 3px 10px;
        border-radius: 5px;
        background-color: #eee;
        cursor: pointer;
        &:hover{
            background-color: #dcdcdc;
        }
    }
}
