.display-infor-container{
    .red{
        color: rgb(255, 0, 136);
      }
      .green{
        color:greenyellow;
      }
      .blue{
        color:blue;
      }
      img {
        width: 400px;
        height: 400px;
    }
}