.login-container{
    gap: 10px;
    .btn-signup{
        border: solid 1px #ccc;
        border-radius: 5px;
        margin-right: 5px;
        &:hover{
            cursor: pointer;
            background-color: #ddd;
        }
    }
    .header{
        height: 25px;
        padding: 20px 0;
        p{
            margin-top: 5px;
        }
        
    }
    .title{
        height: 45px;
        font-size: 45px;
        padding: 20px 0;
        margin: 10px;
    }
    .welcome{
        margin: 30px;
        font-size: 20px;
        padding: 10px 0;
    }
   
    .content-form {
        input{
            margin-bottom: 15px ;
        }
        .forgot{
            margin-bottom: 15px ;
        }
        .back{
            cursor: pointer;
            margin-top: 15px !important;
        }
        .btn-submit{
            margin-bottom: 15px ;
            margin-top: 15px ;
        }
    }
    .loaderIcon {
        margin-right: 7px;
        top: 2px;
        animation: spin 1s infinite linear;
    }
    
    @keyframes spin {
        from {
            transform: scale(1) rotate(0deg);
        }
        to {
            transform: scale(1) rotate(360deg);
        }
    }
    .btn-submit{
        &:disabled{
            background-color: #dddddd;
            color: #8492eb;
            cursor: no-drop !important;
        }
    }
}